{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron bg-info text-white text-center"> 
        <div>
            <h1>Sorry About That</h1><br>
            <p>There are a few things that could be wrong</p>
            <ul>
                <li>1. The show that you entered is not a valid show. Try to match the original title exactly i.e. The Office instead of Office</li>
                <li>2. Some shows have gone on for a long time. If the show has too many episodes, the server will time out because it is taking to long to load everything. Try again because sometimes loading times are faster than others.</li>
                <li>3. There is an error in the code and I messed up. I am sorry if that is the case.</li>
            </ul>
            <p>If no shows are able to load please go to my email on the about page and let me know.</p> 
            <p>Thank You</p>
        </div><br>
        <div class='text-center'>
            <form action="/">
                <button type="submit" class="btn-dark">Go Home</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    