{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron bg-info text-white text-center"> 
        <div>
            <h1>Sorry About This</h1><br>
            <p>The show that you are using is either the wrong type or does not have enough information to create a chart. Please return to the home page and try again. Thank you for you patience.</p>
        </div><br>
        <div class='text-center'>
            <form action="/">
                <button type="submit" class="btn-dark">Go Home</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    