{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="jumbotron bg-info text-white text-center"> 
        <h3><strong>Results for:</strong></h3>
        <h1><strong>{{choice}}</strong></h1>
    </div>
    <div class="container">
    {% for i in range(0, length) %}
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-6 text-center text-white">
                    <p>{{ names[i] }}</p>
                    <p>{{ year[i] }}</p>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail rounded" src={{urls[i]}} width="100" height="150">
                </div>
                <div class="col-md-1">
                    <form action="/load_data/{{ids[i]}}/" method="post" role="form" id="{{ids[i]}}">
                        <button type="submit" class="btn btn-success" name="{{ids[i]}}">This One</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <br>
        {% endfor %}    
    </div>
</div>
{% endblock %}